<nav class="navbar navbar-light bg-light border-bottom mb-3">
<p class="text-muted mx-3">Wikinimous<p>
<p> <%= link_to 'New Article', new_article_path, class: "text-decoration-none text-secondary mx-3" %> </p>
</nav>

<div class="container">

<h1 class="d-flex justify-content-center border-bottom">
  <%= @article.title %> <%= link_to edit_article_path(@article) do %>
    <i class="fa-sharp fa-regular fa-pen-to-square"></i>
  <% end %>
  <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'You sure?' }  do %>
<i class="fa-solid fa-trash"></i>
  <% end %>
</h1>



  <p class="d-flex justify-content-center"> <%= @article.content %> </p>
</div>
